.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 5rem;
  left: 50%;
  margin-left: -11rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.body {
  position: relative;
  height: 100vh;
}
:root {
  --white: hsl(0, 0%, 100%);
  --primary-color: hsl(300, 43%, 22%);
  --sub-head-color: hsl(333, 80%, 67%);
  --dark-magenta: hsl(303, 10%, 53%);
  --light-magenta: hsl(300, 24%, 96%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 15px;
  font-family: "Spartan", sans-serif;
  user-select: none;
}
.container {
  width: 1100px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.top-side {
  width: calc(100% - 2rem);
  height: calc(50% - 1rem);
  margin: 1rem 1rem 3rem 1rem;
  display: flex;
  justify-content: space-between;
}
.heading {
  width: 50%;
}
.heading h1 {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 50px;
  padding-bottom: 1rem;
  line-height: 3rem;
}
.heading p {
  color: var(--dark-magenta);
  font-weight: 400;
  line-height: 1.5rem;
}
.rating {
  width: 45%;
  list-style: none;
  font-weight: 500;
  color: var(--primary-color);
  font-size: 15px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translatex(-4rem);
  -webkit-transform: translatex(-4rem);
  -moz-transform: translatex(-4rem);
  -ms-transform: translatex(-4rem);
  -o-transform: translatex(-4rem);
}
.rating li {
  margin-bottom: 3rem;
  background-color: var(--light-magenta);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  overflow: visible;
  padding-left: 3rem;
}
.rating li img {
  margin-right: 0.4rem;
}
.rating li div {
  position: relative;
  left: -2rem;
}
.rating li:nth-child(1) {
  align-self: flex-start;
}
.rating li:nth-child(2) {
  align-self: center;
}
.rating li:nth-child(3) {
  align-self: flex-end;
}
.bottom-side {
  width: calc(100% - 2rem);
  height: calc(50% - 1rem);
  margin: 0 1rem 0.5rem;
  display: flex;
  justify-content: space-between;
}
.bottom-side img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 50px;
  height: 50px;
}
.bottom-side h3 {
  display: inline-block;
  text-align: center;
  width: fit-content;
  margin-left: 1.5rem;
  font-weight: 500;
  font-size: 15px;
  color: var(--white);
}
.bottom-side h3 span {
  color: var(--sub-head-color);
}
.bottom-side p {
  color: var(--white);
  line-height: 1.5rem;
  font-weight: 400;
  font-size: 12px;
}
.top-card {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  line-height: 1.5rem;
}
.card1,
.card2,
.card3 {
  width: calc((100% / 3) - 1rem);
  height: calc(100% - 2rem);
  background-color: var(--primary-color);
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.card2 {
  align-self: center;
}
.card3 {
  align-self: flex-end;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
